bootstrap/compiled.php
/vendor
app/config/
app/storage/service_documents/
app/storage/proofs/
app/storage/sessions/
public/service_documents/
node_modules/
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

