<!DOCTYPE html>
<html>

<head>
<style>
table {
    width:75%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}
</style>
</head>

<body>
<h1>Search Results</h1>

<td><?php echo Form::open(['route' => 'search.index']); ?><?php echo Form::text('search'); ?><?php echo Form::submit('Search'); ?><?php echo Form::close(); ?></td>

<?php if(!empty($search_results)): ?>

<table>
  <tr>
    <th>Order #</th>
    <th>Reference #</th>
    <th>Court Case #</th>
    <th>Plaintiff</th>
    <th>Defendant</th>
    <th>State</th>
    <th>Court</th>

  </tr>
<?php foreach($results['orders'] as $result): ?>

<tr>
<td><?php echo link_to("/orders/{$search_results[$result->id]["order_id"]}", $search_results[$result->id]["order_id"]); ?></td>
<td><?php echo link_to("/orders/{$search_results[$result->id]["order_id"]}", $search_results[$result->id]["ref"]); ?></td>
<td><?php echo $search_results[$result->id]["case"]; ?></td> 
<td><?php echo $search_results[$result->id]["plaintiff"]; ?></td>
<td><?php echo $search_results[$result->id]["defendant"]; ?></td>
<td><?php echo $search_results[$result->id]["state"]; ?></td>
<td><?php echo $search_results[$result->id]["court"]; ?></td>
<?php endforeach; ?>
<?php foreach($results['jobs'] as $result): ?>
<tr>
<td><?php echo link_to("/orders/{$search_results[$result->order_id]["order_id"]}", $search_results[$result->order_id]["order_id"]); ?></td>
<td><?php echo link_to("/orders/{$search_results[$result->order_id]["order_id"]}", $search_results[$result->order_id]["ref"]); ?></td>
<td><?php echo $search_results[$result->order_id]["case"]; ?></td> 
<td><?php echo $search_results[$result->order_id]["plaintiff"]; ?></td>
<td><?php echo $search_results[$result->order_id]["defendant"]; ?></td>
<td><?php echo $search_results[$result->order_id]["state"]; ?></td>
<td><?php echo $search_results[$result->order_id]["court"]; ?></td>
<?php endforeach; ?>
<?php else: ?>
<h2>No Orders Found!</h2>
<?php endif; ?>

<a href="<?php echo URL::previous(); ?>">Go Back</a>

</body>
</html>
